/***********************Landing page/Reviews*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald|Pacifico&display=swap');

body,
html {
   height: 100%;

   
   
  }

/******************************Navbar*/
nav{
      font-family: 'Pacifico', cursive;
      background-color: #142850;


  }


.navbar-fixed { 
    z-index: 998; 


}

.nav-text{
      font-size: 2rem;
      position: relative;
      

}



.img1 {

    background-image: url(../img/image1.jpg);
    position: relative;
    opacity: 0.60;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    min-width: 100vw;

}

.img-text{
    text-align: center;
    position: absolute;
    top: 20%;
    bottom: 40%;
    left: 20%;
    right: 20%;
     
    width: 60%;
    color: #142850;
    

}
.main-heading{
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Pacifico', cursive;
}

.p1{
    font-size: 1.6rem;
    font-family: 'Oswald', sans-serif;
}
.review-heading{
    font-family: 'Pacifico', cursive;
    color: #142850;
    margin-top: 5%;
    margin-bottom: 3%;
}

 h2{
    font-size: 3rem;
}

.card .card-image img{
    height: 55vh;


}


.row:after{
    display: none;


}

.card-review{
    padding: 2%;
    
}

.sub-headings{
     font-family: 'Pacifico', cursive;
     color: #142850;
     font-size: 2rem;
     
} 

.submit-button{
    background-color: #142850;
    font-family: 'Pacifico', cursive;
    text-transform: lowercase;
    font-size: 1.4rem;
}