{% extends 'base.html' %}
{% block content %}


<!--Add Review Page/Form-->

<h2 class="sub-headings flow-text center-align">Add a Review</h2>

<div class="row">
	<form action="{{ url_for('insert_review') }}" method="POST" class="col s12">
		<div class="row ">
			<div class="input-field col s12">
				<i class="material-icons prefix">book</i>
				<input  id="book_name" name="book_name" type="text" class="validate" required>
				<label for="book_name">Book Title</label>
			</div>
			<div class="input-field col s12">
				<i class="material-icons prefix">face</i>
				<input id="book_author" name="book_author" type="text" class="validate" required>
				<label for="book_author">Authors Name</label>

			</div>
			<div class="input-field col s12">
				<i class="material-icons prefix">mood</i>
				<input id="book_genre" name="book_genre" type="text" class="validate" required>
				<label for="book_genre">Genre</label>
			</div>
			<div class="input-field col s12">
				<i class="material-icons prefix">create</i>
				<textarea id="book_review" name="book_review" class="materialize-textarea" maxlength="1000" data-length="1000" required></textarea>
				<label for="book_review">Write review here</label>
			</div>

			<div class="input-field col s12">
				<i class="material-icons prefix">crop_original</i>
				<input id="book_image" name="book_image" type="text" class="validate" required>
				<label for="book_image">Provide an image link for your book cover</label>
			</div>
			<div class="input-field col s12">
				<i class="material-icons prefix">laptop</i>
				<textarea id="book_link" name="book_link" class="materialize-textarea" type="text"  required></textarea>
				<label for="book_link">Provide a link to a website that sells this book</label>
			</div>
			<div class="input-field col s12">
				<button class="btn waves-effect waves-light submit-button" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
         </button>
			</div>
		</div>
	</form>
</div>

{% endblock %}