<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Nim Reads</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>
	<header>
		<!--Navbar-->
		<nav>
			<div class="nav-wrapper flow-text">
				<a href="{{url_for('get_reviews')}}" class="brand-logo">Nim Reads</a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="{{url_for('get_reviews')}}">Home</a></li>
					<li><a href="{{url_for('add_review')}}">Add a Review!</a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li><a href="{{url_for('get_reviews')}}">Home</a></li>
					<li><a href="{{url_for('add_review')}}">Add a Review!</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<!---->
	{% block content %}
	{% endblock %}


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
           $(".button-collapse").sideNav();
        });

        
	</script>
</body>

</html>